body {
    background-color: var(--background-color-body);
    background-image: var(--background-image-body, url(/assets/background_hexagon.svg));
    font-size: 10px;
    font-family: Verdana, Arial, SunSans-Regular, sans-serif;
}

.container {
    margin: 40px auto 0px auto;
    width: 740px;
    color: var(--font-color);
}

.content {
    display: flex;
    justify-content: space-between;

    .main {
        position: relative;
        width: 480px;
        min-height: 600px;
        background-color: var(--background-color-content);
        border: solid var(--border-color);
        border-width: 3px 3px 0 3px;
        padding: 25px 20px 20px 20px;

        &::before, &::after {
            display: block;
            width: 130px;
            height: 18px;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            z-index: 1;
            background: linear-gradient(
                13deg,
                var(--transparent-color) 46%,
                var(--gradient-color-light) 83%,
                var(--gradient-color-dark) 100%
            );
            background-repeat: no-repeat;
            background-position: 30px;
        }

        &::after {
            z-index: 2;
            background: repeating-linear-gradient(
                0deg,
                var(--background-color-content),
                var(--background-color-content) 2px,
                var(--transparent-color) 2px,
                var(--transparent-color) 4px
            );
        }
    }

    .sidebar {
        position: relative;
        width: 180px;
        border: 3px solid var(--border-color);
        background-color: var(--background-color-content);
        padding: 25px 10px 10px 10px;
        height: 60vh;
        overflow: hidden;

        &::before,
        &::after {
            display: block;
            width: 200px;
            height: 18px;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            z-index: 1;
            background: linear-gradient(
                13deg,
                var(--transparent-color) -40%,
                var(--gradient-color-light) 53%,
                var(--gradient-color-dark) 100%
            );
            background-repeat: no-repeat;
        }

        &::after {
            z-index: 2;
            background: repeating-linear-gradient(0deg,
                var(--background-color-content),
                var(--background-color-content) 2px,
                var(--transparent-color) 2px,
                var(--transparent-color) 4px
            );
        }
    }
}

a {
    color: var(--font-color);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    &.multiline {
        text-decoration: none;
    }
    
    &.emphasized {
        text-decoration: none;
        font-weight: bold;
    }
}

.framed {
    border: 3px double var(--border-color);
}

.loading-enter-active,
.loading-leave-active {
    transition: opacity 0.25s ease;
}

.loading-enter-from,
.loading-leave-to {
    opacity: 0;
}

ul.sitemap {
    li {
        margin-bottom: 5px;
        padding-left: 11px;
        /* making sure a potential second line of text is indented: */
        text-indent: -11px;

        &::before {
            content: '»';
            margin-right: 5px;
        }
    }
}