body {
    background-color: var(--background-color-body);
    background-image: var(--background-image-body, url('/background/default.svg'));
    font-size: 10px;
    font-family: Verdana, Arial, SunSans-Regular, sans-serif;
    margin: 0;

    @media only screen and (min-width: 700px) { /**/
        margin: 8px;
    }
}

.container {
    margin: 40px 0 40px 0;
    width: calc(100vw - 12px);
    color: var(--font-color);

    @media only screen and (min-width: 700px) {
        width: 740px;
        margin: 40px auto 0 auto;
    }
}

.content {
    width: calc(100% + 12px);

    @media only screen and (min-width: 700px) {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    .main {
        position: relative;
        min-height: 600px;
        background-color: var(--background-color-content);
        border: solid var(--border-color);
        border-width: 3px 3px 0 3px;
        padding: 25px 20px 20px 20px;

        @media only screen and (min-width: 700px) {
            width: 480px;
        }

        &::before, &::after {
            display: block;
            width: 130px;
            height: 18px;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            z-index: 1;
            background: linear-gradient(
                13deg,
                var(--transparent-color) 46%,
                var(--gradient-color-light) 83%,
                var(--gradient-color-dark) 100%
            );
            background-repeat: no-repeat;
            background-position: 30px;
        }

        &::after {
            z-index: 2;
            background: repeating-linear-gradient(
                0deg,
                var(--background-color-content),
                var(--background-color-content) 2px,
                var(--transparent-color) 2px,
                var(--transparent-color) 4px
            );
        }
    }

    .sidebar {
        display: none;

        @media only screen and (min-width: 700px) {
            display: block;
            position: relative;
            width: 180px;
            border: 3px solid var(--border-color);
            background-color: var(--background-color-content);
            padding: 25px 10px 10px 10px;
            height: 60vh;
            overflow: hidden;
        }

        &::before,
        &::after {
            display: block;
            width: 200px;
            height: 18px;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            z-index: 1;
            background: linear-gradient(
                13deg,
                var(--transparent-color) -40%,
                var(--gradient-color-light) 53%,
                var(--gradient-color-dark) 100%
            );
            background-repeat: no-repeat;
        }

        &::after {
            z-index: 2;
            background: repeating-linear-gradient(0deg,
                var(--background-color-content),
                var(--background-color-content) 2px,
                var(--transparent-color) 2px,
                var(--transparent-color) 4px
            );
        }
    }
}

a {
    color: var(--font-color);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: var(--link-hover-color);
    }

    &.multiline {
        text-decoration: none;
    }
    
    &.emphasized {
        text-decoration: none;
        font-weight: bold;
    }
}

.is-highlighted {
    a {
        color: var(--hover-color);
    }
}

.entry {
    margin: 0 -6px;
    padding: 0 6px;

    transition: background-color var(--mouseover-transition-duration) ease-in, color var(--mouseover-transition-duration) ease-in;

    border-radius: 4px;

    &.is-highlighted {
        background-color: var(--hover-background-color);
        color: var(--hover-color);
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 50px;
        gap: 0 12px;
        height: 26px;
        line-height: 26px;
    
        .control {
            text-align: right;
        }
    }
}

.framed {
    border: 3px double var(--border-color);
    filter: saturate(var(--saturate-value));
}

.loading-enter-active,
.loading-leave-active {
    transition: opacity 0.25s ease;
}

.loading-enter-from,
.loading-leave-to {
    opacity: 0;
}

ul.sitemap {
    li {
        margin-bottom: 5px;
        padding-left: 11px;
        /* making sure a potential second line of text is indented: */
        text-indent: -11px;

        &::before {
            content: '»';
            margin-right: 5px;
        }
    }
}